* {
  box-sizing: border-box;
  border-collapse: collapse;
}

body,
h1,
p,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  font-family: monospace;
  border-collapse: collapse;
}

body {
  background: #111;
}

button {
  cursor: pointer;
  user-select: none;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.inner {
  border: 1px solid grey;
  padding: 10px 20px 20px;
  border-radius: 1.5rem;
  background: #111;
  flex: 1 1 220px;
}

@media (max-width: 600px) {
  .inner {
    flex: 1 1 100%;
  }
}

.converter {
  /*min-width: 330px;*/
}

.rate-viewer {
  /*min-width: 380px;*/
}

.title {
  margin: 10px 0 30px;
  color: #fafafa;
}

@media (max-width: 400px) {
  .title {
    font-size: 18px;
    margin: 6px 0 18px;
  }

  .label {
    font-size: 14px;
  }
}

.input {
  border: 1px solid grey;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px 12px;
  outline: none;
  transition: 0.2s;
}

.row {
  display: flex;
  gap: 16px;
  height: 32px;
  margin-bottom: 16px;
}

.select {
  padding: 4px 8px 4px;
  border-radius: 0.5rem;
  background: #111;
  color: #fafafa;
  transition: 0.2s;
}

.input {
  height: 32px;
  background: #111;
  color: #fafafa;
}

.currency-values, .rate-viewer__currency-values {
  display: flex;
  margin-bottom: 20px;
}

.labels, .values, .rate-viewer__labels, .rate-viewer__values {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.labels, .rate-viewer__labels {
  margin: 0 0 0 12px;
}

.label:nth-child(even),
.value:nth-child(even),
.rate-viewer__label:nth-child(even),
.rate-viewer__value:nth-child(even)
{
  opacity: .8;
}

.values, .rate-viewer__values {
  margin-left: 54px;
}

.label, .value, .rate-viewer__label, .rate-viewer__value {
  font-size: 18px;
  color: #fafafa;
}

.button_convert {
  padding: 10px 20px;
  width: 100%;
  background: #111;
  color: #fafafa;
  border: 1px solid grey;
  border-radius: 16px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.button_convert:hover {
  background: #fafafa;
  border-color: #fafafa;
  color: #111;
}

.select:hover,
.input:hover {
  background: #222;
}

.datepicker {
  margin-bottom: 16px;
}
.datepicker::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(99%) sepia(1%) saturate(121%) hue-rotate(213deg) brightness(112%) contrast(96%);
}

.rate-viewer__note {
  border: 1px solid tomato;
  color: tomato;
  padding: 0 20px 20px;
  border-radius: 8px;
  margin-top: 20px;
}
